@fortawesome:registry=http://artifactory.medline.com/artifactory/api/npm/npm-repo/

registry=http://artifactory.medline.com/artifactory/api/npm/npm-repo/
@uline:registry=http://artifactory.medline.com/artifactory/api/npm/npm-repo/
uiline:registry=http://artifactory.medline.com/artifactory/api/npm/npm-repo/